<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/rpsGame.css">
    {{>head}}
</head>

<body>
    {{{body}}}
</body>
<script src="/js/rpsGame.js"></script>
<script src="/socket.io/socket.io.js"></script>
</html>